In [15]:
#Ánalisis de Datos para Abundancia y Dominancia

In [6]:
import pandas as pd

In [4]:
from matplotlib import pyplot as plt

In [10]:
prueba=pd.read_csv("prueba.csv")

In [11]:
prueba

,Sector,Grupo,Sendero,Distancia (m),Parcela,Árbol,Especie,DAP (cm),HT (m),HC (m),LD,AB (m2)
0,I,1,2,150,1,1,Encino,5.1,4.91,1.7900,0,0.002043
1,I,1,2,150,1,2,Encino,9.4,7.77,3.0700,0,0.006940
2,I,1,2,150,1,3,Roble,25.6,11.91,6.7900,1,0.051472
3,I,1,2,150,1,4,Nance,6.7,7.58,NaN,0,0.003526
4,I,1,2,150,1,5,Roble,23.3,11.94,6.0600,0,0.042638
...,...,...,...,...,...,...,...,...,...,...,...,...
520,III,10,26,10,5,9,Encino,9.5,5.6261,3.0480,0,0.007088
521,III,10,26,10,5,10,Carbón,8.0,5.2451,NaN,0,0.005027
522,III,10,26,10,5,11,Carbón,5.3,3.2131,NaN,0,0.002206
523,III,10,26,10,5,12,Encino,9.5,6.6421,2.1336,1,0.007088
524,III,10,26,10,5,13,Molinillo,9.5,4.4704,NaN,0,0.007088